﻿@using Royality.WebUI.Utility

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/datatable/css/jquery.dataTables.css" />
        <link type="text/css" rel="stylesheet" href="~/css/Royality_Layout_common.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    </environment>

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <div id="func_header" class="page-header">
            <img id="logo" src="~/images/Right-on-logo.gif" alt="ヘッダーロゴ" />
            <h1>@ViewData["Title"]</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="navigation">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="@WebUtility.IsActive(Context.Request, "DenpyoList", "Index")">
                                <a asp-area="" asp-controller="DenpyoList" asp-action="Index">伝票一覧</a>
                            </li>
                            <li role="presentation" class="@WebUtility.IsActive(Context.Request, "DenpyoDetail", "Index")">
                                <a asp-area="" asp-controller="DenpyoDetail" asp-action="Index">伝票登録</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-3" style="text-align:right;">
                    <div class="user">
                        TestUser
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="col-xs-3">
                    <button type="button" id="menu" class="btn">
                        メニュー
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    @*ログアウトbtn*@
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Constants.cshtml" />
        </main>
    </div>

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
        <script type="text/javascript" src="~/lib/datatable/js/jquery.dataTables.js" charset="utf-8"></script>
        <script type="text/javascript" src="~/scripts/build/Royality_kaikei.js"></script>
        <script type="text/javascript" src="~/scripts/build/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
