﻿/* ++++++++++++++++++++++++++ */
/* +  メインコンテナ          */

#main_container {
    border-radius: 12px;
    border: solid #CCCCCC 1px;
    padding: 10px;
    margin-top: 10px;
}

.empHeading {
    padding-top: 20px;
}

/* _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
/* _/   伝票ヘッダー                  */
.hstr {
    font-size: 16px;
    vertical-align: middle !important;
}

.detailCol1 {
    float: left;
    width: 550px;
    margin-right: 20px;
}

.detailCol2 {
    float: right;
    width: 580px;
}

.ttl_head {
    background-color: #666666;
    color: white;
}


.bikouElement {
    margin-left: 10px;
    float: left
}

.sticky_table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #666666;
    border-top: #FFFFFF;
}

.scrollTbl {
    overflow-y: scroll;
    height: 320px;
    border: 1px solid #ccc;
}

.hidukeRow {
    margin: 10px;
}

.excelGrid {
    overflow: auto;
    height: 450px;
    width: 424px;
}

.tableGrid {
    background-color: #F5F5F5F5;
    border: solid 1px #808080;
    font-weight: 400;
    font-size: smaller;
}

.footerlabel {
    height: 34px;
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 400;
}

.hinbanTouroku {
    font-size: 11px;
}

    .hinbanTouroku .form-control {
        height: 24px;
        font-size: 12px;
    }

    .hinbanTouroku .btn {
        font-size: 12px;
    }
