﻿/* ++++++++++++++++++++++++++ */
/* +  メインコンテナ          */

#main_container {
    border-radius: 12px;
    border: solid #CCCCCC 1px;
    padding: 10px;
    margin-top: 10px;
}

/* ++++++++++++++++++++++++++ */
/* +        検索条件          */
.search1 {
    width: 100px;
}

.search2 {
    width: 30px;
}

.search3 {
    width: 70px;
}

.search4 {
    width: 150px;
}

.search5 {
    width: 180px;
}

/* _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
/* _/   申請一覧                      */

#list_area {
    margin-top: 10px;
    margin-left: 20px;
}

#sinsei_table tbody {
    height: 400px;
}

.ttl_head {
    background-color: #666666;
    color: white;
}

.tblRowCheckBox {
    margin-left: 8px !important;
}

.chk_box {
    width: 15px;
}
