﻿

/* ++++++++++++++++++++++++++ */
/* +  タイトル機能            */
#func_header {
    background-image: url("../images/func_title_bg_plain.jpg");
    height: 54px;
}

#logo {
    height: 54px;
    margin: 5px;
    float: left;
}

#func_header h1 {
    text-align: left;
    margin-left: 40%;
}

.page-header h1 {
    color: white;
    padding-top: 8px;
    text-align: center;
}

.navigation {
    position: absolute;
    /* top: 15px; */
    /*left: 30px;*/
    /* font-size: 12px; */
    font-weight: 700;
    /* color: #959595; */
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    /* content: "Example";*/
}

.user {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

/* ++++++++++++++++++++++++++ */
/* +  ボタン背景色            */
.btn_rtn {
    color: white;
    background-color: dimgray;
}

.btn_edit {
    background-color: #cccccc;
}

/* ++++++++++++++++++++++++++ */
/* +  数字フォント            */
.numstr {
    font-size: 16px;
}

/* ++++++++++++++++++++++++++ */
/* + テーブル関連             */
.item_center th, td {
    text-align: center;
}

/* TODO:New*/
.item_center tr {
    line-height: 2.350;
}

.no_frame {
    border-width: 0px;
}

.scrl_head, .scrl_body {
    display: block;
}

/*.scrl_head_datatable, .scrl_head_datatable {
    display: contents !important;
}*/

.scrl_body {
    overflow-y: scroll;
}

    .scrl_head, .scrl_body td, th {
        table-layout: fixed;
    }

.scrl_head {
    width: calc( 100% - 1em )
}

/* ++++++++++++++++++++++++++ */
/* + ボタンまわり             */

.button_area {
    margin: 5px;
}

    .button_area div {
        padding: 5px;
    }
