﻿@model Royality.WebUI.Models.DenDetailInfoViewModel;
@{
    ViewData["Title"] = "ロイヤリティ登録";
}

<!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
<!-- _/  メニュー本体         -->
<!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
<div class="container-fluid" id="main_container">
    <div class="panel-default">
        <div class="panel-heading empHeading">
        </div>

        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- +                 入力一覧(Left)                   -->
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover table-bordered table-condensed item_center">
                        <thead class="ttl_head">
                            <tr>
                                <th class="code_wd">支払先コード</th>
                                <th>支払先名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="code_wd col-xs-4">
                                    <div class="input-group">
                                        <input id="SiharaiSakiCode" asp-for="@Model.DenpyoInfo.SiharaiSakiCode" class="form-control numstr" />
                                        <span class="input-group-btn">
                                            <button type="button" id="btnGetSiharaiSaki" class="btn btn-info">検索</button>
                                        </span>
                                    </div>
                                </td>
                                <td class="hstr col-xs-8">
                                    <label id="SiharaiSakiNameLbl"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-xs-4">
                        <table class="table table-hover table-bordered table-condensed item_center">
                            <thead class="ttl_head">
                                <tr>
                                    <th class="code_wd">伝票日付</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="DenHiduke" class="form-control datepicker numstr" maxlength="8" autocomplete="off" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-4">
                        <table class="table table-hover table-bordered table-condensed item_center">
                            <thead class="ttl_head">
                                <tr>
                                    <th>伝票番号</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="form-group numstr denpyoNumber" data-is-new="@Model.IsNewDenpyo">
                                        @*@if (@Model.IsNewDenpyo)
                                        {
                                            <label id="DenNoLbl" style="display:none;" asp-for="@Model.DenpyoInfo.DenNo">*@
                                                <input id="DenNo" class="form-control" maxlength="10" />
                                            @*</label>*@
                                        @*}
                                        else
                                        {
                                            <label id="DenNoLbl" typeof="" asp-for="@Model.DenpyoInfo.DenNo">
                                                @Model.DenpyoInfo.DenNo
                                            </label>
                                            <Input id="DenNo" type="hidden" asp-for="@Model.DenpyoInfo.DenNo">

                                        }*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-2"></div>


                    <div class="col-xs-12">
                        <table class="table table-hover table-bordered table-condensed item_center">
                            <thead class="ttl_head">
                                <tr>
                                    <th>特記事項</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="form-group numstr denpyoNumber">
                                        <textarea id="txtDenRemarks" placeholder="詳細を入力してください" class="form-control" name="jikou" style="height:190px;"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- +++++++++++++++++++++++++++++++++++++++ -->
                <!-- *        テーブル部門リスト(Right)    + -->
                <div class="col-md-6">
                    <section style="margin-bottom:30px;">
                        <div class="table-responsive scrollTbl">
                            <table id="detail_table" class="table table-hover table-bordered table-condensed sticky_table item_center">
                                <thead class="ttl_head">
                                    <tr>
                                        @*<th style="width: 50px;">No</th>*@
                                        <th>部門名</th>
                                        <th>金額</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <table id="den_meisai_table_foot" class="table table-condensed item_center">
                        <tbody>
                            <tr>
                                <td class="col-xs-3" rowspan="3"></td>
                                <td class="no_frame col-xs-5" rowspan="3">
                                    <div class="input-group">
                                        <span class="input-group-addon">税率</span>
                                        <input id="DenTax" type="text" asp-for="@Model.DenpyoInfo.DenTax" class="form-control" maxlength="2" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </td>
                                <th>小計</th>
                                <td id="Shoukei" class="td_num numstr kingaku">@Model.DenpyoInfo.Syukei</td>
                            </tr>
                            <tr>
                                <th>消費税</th>
                                <td id="Shohizei" class="td_num numstr kingaku">@Model.DenpyoInfo.Shohizei</td>
                            </tr>
                            <tr>
                                <th>合計</th>
                                <td id="Goukei" class="td_num numstr kingaku">@Model.DenpyoInfo.Goukei</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>


        <!-- +++++++++++++++++++++++++++++++++++++++ -->
        <!-- * 伝票フッター(操作ボタン)            + -->
        <div class="panel panel-footer">
            <div class="row button_area">
                <div class="col-xs-2">
                    <button id="btnHinbanToroku" type="button" class="btn btn-default form-control">
                        品番設定・按分登録
                    </button>
                </div>
                <div class="col-xs-2">
                    <label class="footerlabel">
                        登録済品番数：<span id="lblHinbanCount">@Model.HinbanCount</span>
                    </label>
                </div>
                <div class="col-xs-2">
                    <label class="footerlabel">
                        按分設定: <span id="lblAnbunResult">
                            @{ @Html.Raw(Model.IsAnbunResultSet == true ? "済" : "未");}
                        </span>
                    </label>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-1">
                    <button id="btnNew" type="button" class="btn btn-success form-control">新規作成</button>
                </div>
                <div class="col-xs-1">
                    <button id="btnSave" type="button" class="btn btn-primary form-control">保存</button>
                </div>
                <div class="col-xs-1">
                    <button id="btnDelete" type="button" class="btn btn-warning form-control">削除</button>
                </div>
                <div class="col-xs-1">
                    <button id="btnFix" type="button" class="btn btn-danger form-control">確定</button>
                </div>
            </div>
        </div>
        <!-- * 伝票フッター(操作ボタン)            + -->
        <!-- +++++++++++++++++++++++++++++++++++++++ -->

        <div id="overlay" class="overlay" style="display:none;">
            <div class="spinner"></div>
            <br />
            <div class="overlayMessage"></div>
        </div>
    </div>

    <!-- 支払先検索 START -->
    <div class="modal fade" id="siharaisaki_search" role="dialog" data-url="@Url.Action("SiharaiSakiDlg", "DenpyoList")" tabindex="-1"></div>
    <!-- 支払先検索 END -->
    <!-- 品番登録・按分設定 START-->
    <div class="modal fade hinbanTouroku" id="hinban_touroku" role="dialog" data-url="@Url.Action("Index","HinbanTourokuDialog")" data-backdrop="static" data-keyboard="false" tabindex="-1"></div>
    <!-- 品番登録・按分設定 END-->


    @section Styles
    {
        <link type="text/css" rel="stylesheet" href="~/lib/Jexcel/css/jsuites.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/Jexcel/css/jexcel.css" />

        <environment include="Development">
            <link type="text/css" rel="stylesheet" href="~/css/denpyo_detail.css" />
            <link type="text/css" rel="stylesheet" href="~/css/hinban_touroku_dlg.css" />
        </environment>
    }

    @section Scripts
    {
        <script type="text/javascript" src="~/lib/Jexcel/js/jsuites.js"></script>
        <script type="text/javascript" src="~/lib/Jexcel/js/jexcel.js"></script>

        <environment include="Development">
            <script type="module" src="~/scripts/build/denpyo_Detail.js"></script>
            <script type="module" src="~/scripts/build/hinban_touroku.js"></script>
        </environment>
    }
</div>
