﻿@Model IEnumerable<Siharaisaki>

    <!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- _/  検索子画面           -->
    <!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- 仕入先検索 -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>x</span></button>
                <h4 class=" ">支払先検索</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover item_center">
                    <thead class="scrl_head">
                        <tr>
                            <th class="siharaisaki_code">支払先コード</th>
                            <th class="siharaisaki_name">支払先名</th>
                        </tr>
                    </thead>
                    <tbody class="scrl_body">
                        <!--- 支払先リスト --->
                        @foreach (var siharaisaki in Model)
                        {
                            var id = "sname_" + @siharaisaki.Code;
                            <tr onclick="siharaisaki_select('@siharaisaki.Code', '@siharaisaki.Name')">
                                <td class="siharaisaki_code">@siharaisaki.Code</td>
                                <td class="siharaisaki_name" id="@id">@siharaisaki.Name</td>
                            </tr>
                        }
                        <!--- 支払先リスト --->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                @*<button type="button" class="btn btn-primary">ボタン</button>*@
            </div>
        </div>
    </div>
