﻿<div class="container-fluid">
    <div class="row">

        <!--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
        <!--/* _/_/_/_ モーダルExcelSheet(Left)/_/_/_/_/ -->
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li id="tabTaisyoHinban" role="presentation" class="tabTaisyoSheetLinks active" data-target="tabTaisyoHinbanSheet"><a>対象品番設定</a></li>
            </ul>

            <div id="tabTaisyoHinbanSheet" class="taisyoSheetContent">
                <table>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <div id="spreadSheetHinban" class="excelGrid"></div>
            </div>

            @*<div id="tabTaisyoHinbanSheet" class="taisyoSheetContent">
                    <div id="spreadsheetTenpo" class="excelGrid"></div>
                </div>*@

        </div>
        <!--/* _/_/_/_ モーダルExcelSheet(Left) /_/_/_/_/ -->
        <!--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->

        <!--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
        <!--/* _/_/_/_ モーダル計算確認(rigth) /_/_/_/_/ -->
        <div class="col-md-6">
            <div class="anbunSettei">
                <div>
                    <label>按分設定</label>
                </div>

                <div class="col-xs-12">
                    <table class="item_center">
                        <tbody>
                            <tr>
                                <th style="width:100px;">
                                    <label for="date" class="control-label">伝票日付</label>
                                </th>
                                <td style="width:100px;">
                                    <input id="DenStartDate" name="DenStartDate" maxlength="8" autocomplete="off" class="form-control datepicker" />
                                </td>
                                <td style="width:40px;">
                                    <span>～</span>
                                </td>
                                <td style="width:100px;">
                                    <input id="DenEndDate" name="DenEndDate" maxlength="8" autocomplete="off" class="form-control datepicker" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12 denpyoKeisanBtnArea">
                    <table class="item_center">
                        <tbody>
                            <tr>
                                <th style="width:100px;">
                                </th>
                                <td>
                                    <button id="btnKeisan" style="width:100px;" type="button" class="btn btn-primary">伝票計算</button>
                                </td>
                                <td style="width:40px;">
                                </td>
                                <td>
                                    <button id="btnClearDlg" style="width:100px;" type="button" class="btn btn-default">クリア</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div rowspan="3"></div>
                <div class="col-xs-12">
                    <div>
                        <label>按分金額確認</label>
                        <button id="btnDownloadResultData" type="button" class="btn btn-light btn-anbunResultDL">
                            按分結果ダウンロード
                            <span class="glyphicon glyphicon-download"></span>
                        </button>
                    </div>
                </div>

                <div class="col-xs-12">
                    <section>
                        <div class="table-responsive scrollTbl">
                            <table id="tblAnbunResultUriage" class="table-bordered" cellpadding="0" cellspacing="0">
                                <colgroup>
                                    <col width="80" />
                                    <col width="140" />
                                    <col width="93" />
                                    <col width="80" />
                                </colgroup>
                                <thead class="ttl_head">
                                    <tr>
                                        <th>
                                            店番
                                        </th>
                                        <th>
                                            店名
                                        </th>
                                        <th>
                                            按分金額
                                        </th>
                                        <th>
                                            按分率
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--/* _/_/_/_ モーダル計算確認(rigth) /_/_/_/_/ -->
        <!--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->

    </div>
</div>