﻿
<div class="modal-dialog modal-lg hinbanTourokuDlgModel">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>x</span></button>
            <h4 class="modal-title">
                品番登録
            </h4>
            <ul class="nav nav-pills">
                <li id="tabAutoAnbun" role="presentation" class="anbunModTabLinks active" data-target="tabAutoAnbunData"><a>自動按分</a></li>
            </ul>
        </div>

        <div class="modal-body">
            <div id="tabAutoAnbunData" class="anbunModTabContent">
                <partial name="~/Views/DenpyoDetail/Dialog/_AutoAnbun.cshtml">
            </div>
        </div>

        <div class="modal-footer">
            <button id="btnAutoSet" type="button" class="btn btn-primary">自動セット</button>
            <button id="btnAnbunKeisan" type="button" class="btn btn-primary">計算</button>
            <button id="btnHinbanDialogDataDelete" type="button" class="btn btn-warning">削除</button>
            <button id="btnHinbanDlgClose" type="button" class="btn " data-dismiss="modal">閉じる</button>
        </div>
        
    </div>
</div>