﻿<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +                 申請一覧                         -->
<div class="panel panel-body" id="list_area">
    <table id="sinsei_table" class="table-bordered">
        <thead class="ttl_head">
            <tr>
                <th>
                    <input id="chkCheckAll" type="checkbox" name="CHK_ALL " />
                </th>
                <th>伝票番号</th>
                <th>伝票日付</th>
                <th>支払先</th>
                <th>支払先名</th>
                @*<th>丸め</th>
                <th>単位</th>*@
                <th>小計</th>
                <th>消費税</th>
                <th>合計</th>
                <th>最終更新者</th>
                <th>最終更新日</th>
                <th>処理状況</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>