﻿@model DenpyoListViewModel;

@{
    ViewData["Title"] = "ロイヤリティ登録";
}

<!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
<!-- _/  メニュー本体         -->
<!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
<div class="container-fluid" id="main_container">
    <div class="panel panel-default">
        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- +  検索条件領域                                    -->
        <div class="panel-heading">
            <table class="item_center">
                <tbody>
                    <tr>
                        <th class="search1">
                            <label for="date" class="control-label">伝票日付</label>
                        </th>
                        <td class="search1">
                            <input id="DenStartDate" name="DenStartDate" maxlength="8" autocomplete="off" class="form-control datepicker" />
                        </td>
                        <td class="search2">
                            ～
                        </td>
                        <td class="search1">
                            <input id="DenEndDate" name="DenEndDate" maxlength="8" autocomplete="off" class="form-control datepicker" />
                        </td>
                        <th class="search1">
                            処理状況
                        </th>
                        <td class="search1">
                            <select class="form-control" id="StatusID" name="StatusID" asp-items="@Model.StatusList">
                            </select>
                        </td>

                        <th class="search3">
                            支払い先
                        </th>
                        <td class="search4">
                            <div class="input-group">
                                <input id="SiharaiSakiCode" name="SiharaiSakiCode" class="form-control" maxlength="6" />
                                <span class="input-group-btn">
                                    <button type="button" id="btnGetSiharaiSaki" class="btn btn-info">検索</button>
                                </span>
                            </div>
                        </td>
                        <td class="search5" colspan="2">
                            <label id="SiharaiSakiNameLbl" name="SiharaiSakiName"></label>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <button class="btn btn-default form-control" id="btnSearchClear">条件クリア</button>
                        </td>
                        <td>
                            <button class="btn btn-info form-control" id="btnSearch">検索</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Message" class="col-xs-12" style="margin-top:10px;display:none;"></div>

        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- +                 申請一覧                         -->
        <div id="denpyo_list">
            <partial name="_DenpyoList" />
        </div>


        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- +          伝票フッター（操作ボタン）              -->
        <div class="panel-footer">
            <div class="row button_area">
                <div class="col-xs-9"></div>
                <div class="col-xs-1">
                    <button id="btn-new" type="button" class="btn btn-success form-control"
                            onclick="window.location.href = '@Url.Action("Index", "DenpyoDetail")';">
                        新規作成
                    </button>
                </div>
                <div class="col-xs-1">
                    <button id="btnDelete" type="button" class="btn btn-warning form-control">削除</button>
                </div>
                <div class="col-xs-1">
                    <button id="btnKakutei" type="button" class="btn btn-danger form-control">確定</button>
                </div>
            </div>
        </div>
        <!--            * 伝票フッター(操作ボタン)            + -->
        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    </div>
    <div id="overlay" class="overlay" style="display:none;">
        <div class="spinner"></div>
        <br />
        <div class="overlayMessage"></div>
    </div>
</div>

<!-- 支払先検索 START -->
<div class="modal fade" id="siharaisaki_search" role="dialog" data-url="@Url.Action("SiharaiSakiDlg", "DenpyoList")" tabindex="-1"></div>
<!-- 支払先検索 END -->

<!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->
<!-- _/  メニュー本体 終了    -->
<!-- _/_/_/_/_/_/_/_/_/_/_/_/ -->

@section Styles
{
    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/denpyo_list.css" />
    </environment>
}
@section Scripts
{
    <environment include="Development">
        <script type="text/javascript" src="~/scripts/build/denpyo_list.js"></script>
    </environment>
}